@model IEnumerable<Lab11_MVC.Models.Wine>

@{
    <link href="~/style/SearchResults.css" rel="stylesheet" />
    <body>

        <a asp-controller="Home" asp-action="Index">HOME</a>

        @foreach (var item in Model) {
        <div>
            <p>@item.Variety, @item.Country</p>
            <p> @item.Description </p>
            <p> Cost: @item.Price, Score: @item.Points </p>
        </div>
        }


    </body>
}
